@font-face {
  font-family: "Finger Paint";
  src: url("/fonts/fingerpaint.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/opensans.woff") format("woff");
}

:root {
  --bs-font-sans-serif: "Open Sans";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  padding-top: 80px;
}

h1,
.navbar-brand,
.fingerpaint {
  font-family: "Finger Paint", sans-serif;
}

p {
  word-break: break-word;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

section {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bg-navbar {
  opacity: 0.97;
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] {
  --bs-dark: var(--bs-light);
  --bs-dark-rgb: var(--bs-light-rgb);
  --bs-dark-rgb-a: var(--bs-light-rgb-a);
  --bs-light: var(--bs-dark);
  --bs-light-rgb: var(--bs-dark-rgb);
  --bs-light-rgb-a: var(--bs-dark-rgb-a);
}
[data-bs-theme="dark"] .card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.toc-container {
  position: sticky;
  top: 56px;
}

.toc-container ul {
  list-style-type: none;
  padding-left: 8px;
}

.toc-container li {
  margin-bottom: 0.5rem;
}

.toc-container a {
  text-decoration: none;
  color: inherit;
}

.toc-container a:hover {
  text-decoration: underline;
}

.toc-container .active {
  font-weight: bold;
  border-left: 1px solid rgb(33, 37, 41);
  padding-left: 8px;
}

[data-bs-theme="dark"] .toc-container .active {
  border-left: 1px solid rgb(222, 226, 230);
}

.content img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.card-img-blog {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.highlight {
  padding: 12px;
  border-radius: 4px;
}
