{{ define "main" }}
<div id="page-assitant-toggler" class="d-lg-none position-fixed bottom-0 end-0 m-4 z-3">
  <button class="btn btn-lg btn-primary rounded-circle shadow-lg p-0 d-flex align-items-center justify-content-center"
    style="width: 48px; height: 48px;" onClick="togglePageAssistant()" alt="Einstellungen">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--bs-light)" class="bi bi-sliders"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
    </svg>
  </button>
</div>
<div class="row mt-2">
  <div id="page-content" class="col-lg-9 col-xxl-10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
      <div class="row mt-2 grid">
        {{ range where (where .Site.Pages "Section" "blog") ".Kind" "!=" "section" }}
        <div class="col-12 col-sm-6 col-lg-6 col-xxl-4 mb-4 grid-item {{ range .Params.tags }}{{ . }} {{ end }}">
          <div class="card h-100">
            <a class="text-decoration-none text-center" href="{{ .RelPermalink }}">
              {{ $image := .Resources.GetMatch .Params.image }}
              {{ with $image }}
              {{ with .Resize "600x webp" }}
              <img src="{{ .RelPermalink }}" class="card-img-blog" alt="{{ . }}" />
              {{ end }}
              {{ else }}
              <img src="/images/favicon.png" class="img-fluid p-4" alt="Default Image" />
              {{ end }}
            </a>
            <div class="card-body">
              <p class="card-text mb-0 text-body-secondary"><em>
                  {{ .Date.Format "02.01.2006" }}
                </em>
              </p>
              <a class="text-decoration-none" href="{{ .RelPermalink }}">
                <div class="card-title fs-5">{{ .Title }}</div>
              </a>

              {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
              <a class="text-decoration-none" href="{{ .RelPermalink }}">
                <p class="card-text mt-2">
                  {{ .Summary | plainify | truncate 120 }}
                </p>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div id="page-assistant" class="col-lg-3 col-xxl-2 d-none d-lg-block">
    <div class="toc-container border-secondary border-start" style="--bs-border-opacity: .5;">
      <div class="ps-4">
        <div class="tags">
          <div class="mb-3 d-lg-none d-flex align-items-center justify-content-center">
            <div class="fs-5">
              Einstellungen
            </div>
            <button type="button" class="btn-close ms-auto" onClick="togglePageAssistant();"
              aria-label="Close"></button>
          </div>
          <input type="text" class="quicksearch form form-control ms-0 mb-3" placeholder="Filter" />
          <h6>Tags & Kategorien</h6>
          <div class="my-3 filters-button-group">
            <button type="button" data-filter="*" class="btn btn-sm btn-outline-secondary rounded position-relative me-3 my-2">
              alle
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-black">
                {{ len .Site.RegularPages }}
                <span class="visually-hidden">posts</span>
              </span>
            </button>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <button type="button" data-filter=".{{ $name }}"
              class="btn btn-sm btn-outline-secondary rounded position-relative me-3 my-2">
                {{ $name }}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-black">
                {{ $taxonomy.Count }}
                <span class="visually-hidden">posts</span>
              </span>
            </button>
            {{ end }}
            <h6>Sortierung</h6>
            <div class="mt-4">
              <a href="#" type="button"
                class="btn btn-lg btn-primary rounded-circle shadow-lg p-0 d-flex align-items-center justify-content-center"
                style="width: 48px; height: 48px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--bs-light)"
                  class="bi bi-chevron-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />
                </svg>

              </a>
            </div>

          </div>
        </div>
      </div>

      {{ end }}