{{ define "main" }}
<div>
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ .Title }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div
        class="col-lg-9 content"
        data-bs-spy="scroll"
        data-bs-target="#toc"
        data-bs-smooth-scroll="true"
        tabindex="0"
      >
        <h1>{{ .Title }}</h1>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ with
        .Params.image }}
        <a href="{{ . }}" target="_blank">
          <img src="{{ . }}" alt="{{ $.Title }}" class="img-fluid mb-4 mt-2" />
        </a>
        {{ end }} {{ .Content }}
        {{ template "_internal/disqus.html" . }}
      </div>
      <div class="col-lg-3 d-none d-lg-block border-start-1">
        <nav id="toc" class="toc-container list-group">
          <h6 class="mb-0">Auf dieser Seite</h6>
          <hr />
          {{ .TableOfContents }}
        </nav>
      </div>
    </div>
  </div>
</div>
{{ end }}
