{{ define "main" }}
<div class="position-fixed bottom-0 end-0 m-4 z-3">
  <a href="#top" type="button" class="btn btn-lg btn-primary rounded-circle shadow-lg p-0 d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--bs-light)" class="bi bi-chevron-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
    </svg>
  </a>
</div>

<div class="row">
  <div
    class="col-lg-9 content rounded p-sm-4"
    data-bs-spy="scroll"
    data-bs-target="#toc"
    data-bs-smooth-scroll="true"
    tabindex="0"
  >
    {{ $page := . }}
    {{ if not .IsTranslated }}
      <!-- Automatically use the first available translation as fallback -->
      {{ $fallback := index .Translations 0 }}
      {{ if $fallback }}
        {{ $page = $fallback }}
      {{ end }}
    {{ end }}

    {{ if $page }}
      {{ partial "breadcrumbs.html" (dict "context" $page "breadcrumbType" "blogitem") }}
      <h1>{{ $page.Title }}</h1>

      <div class="d-flex">
        <em>
          {{ with $page.Date }}
          {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := . | time.Format ":date_long" }}
          <time class="me-2" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          {{ else }}
          <p>No date available</p>
          {{ end }}
        </em>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" $page) }}
      </div>
      {{ with $page.Params.image }}
        <a href="{{ . }}" target="_blank">
          <img src="{{ . }}" alt="{{ $page.Title }}" class="img-fluid mb-4 mt-2" />
        </a>
      {{ end }}
      {{ $page.Content }}
    {{ else }}
      <h1>Content Not Available</h1>
      <p>The requested content is not available in this language.</p>
    {{ end }}
  </div>
  <div class="col-lg-3 d-none d-lg-block border-start-1">
    <nav id="toc" class="toc-container list-group">
      <h6 class="mb-0">Auf dieser Seite</h6>
      <hr />
      {{ $page.TableOfContents }}
    </nav>
  </div>
</div>
</div>

{{ end }}