<style>
    :root,
    [data-ui-theme="light"] {
        --main-bg-color: #fefbff;
        --main-text-color: #1c1b1d;
        --main-nav-bg: #fefbff;
        --main-footer-bg: #f8f1f6;
        --main-footer-color: #1c1b1d;
        --main-primary-color: rgb(229, 0, 0);
        --main-card-bg: #f8f1f6;
        --md-sys-color-primary: #6750A4;
        --md-sys-color-on-primary: #FFFFFF;
        --md-sys-color-outline: #79747E;
        --md-sys-color-surface: #FFFFFF;
        --md-sys-color-on-surface: #1D1B20;
        --md-sys-color-surface-variant: rgba(0, 0, 0, 0.08);
    }

    :root[data-ui-theme=dark] {
        --main-bg-color: #141314;
        --main-text-color: #e6e1e3;
        --main-nav-bg: #1c1b1d;
        --main-footer-bg: #1c1b1d;
        --main-footer-color: #fefbff;
        --main-primary-color: rgb(229, 0, 0);
        --main-card-bg: #1c1b1d;
    }
</style>