<div class="modal" tabindex="-1" id="jump-to-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Translation Assistant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Sincerely the page you are looking for has not been translated, so far.</p>
          <p> You can either stay on this page or choose blog to get an overview 
            of all available posts in your desiered language or start at the homepage in your desired language.</p>
           <p>What would you like to do, now?</p>
        </div>
        <div class="modal-footer"> 
          <a role="button" id="langnavtoblog" href="/{{ site.Language.LanguageCode }}/blog" class="btn btn-outline-primary">Blog</a>
          <a role="button" id="langnavtohome" href="/{{ site.Language.LanguageCode }}" class="btn btn-outline-primary">Homepage</a>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Stay</button>
        </div>
      </div>
    </div>
</div>