{{ define "main" }}

<div class="d-flex align-items-center justify-content-center vh-100 pb-5">
    <div class="d-block text-center pb-5">
    <h1>404 - Seite nicht gefunden</h1>

    <p>Die von Ihnen angeforderte Seite konnte nicht gefunden werden.</p>
    <p>Bitte überprüfen Sie die URL auf Tippfehler und versuchen Sie es erneut.</p>
    <p>Wenn Sie von einem Link auf dieser Website hierher gelangt sind, informieren Sie bitte den Webmaster.</p>
    <p>Vielen Dank.</p>
    </div>
</div>
{{ end }}